{{#partial "contenido"}}
	{{#if cargaFallida}}
	<p class="alert alert-danger">La formula ingresada es incorrecta.</p>
	{{else}}
	<p class="alert alert-success">Indicador cargado satisfactoriamente.</p>
	{{/if}}
{{/partial}}
{{>layout.hbs}}
