{{#partial "contenido"}}
	{{#if cargaFallida}}
	<h2 class="logo">La formula ingresada es incorrecta.</h2>
	{{else}}
	<h2 class="logo">Indicador cargado satisfactoriamente.</h2>
	{{/if}}
{{/partial}}
{{>layout.hbs}}
