{{#partial "extra_estilos"}}
<link rel="stylesheet" href="/css/main.css"/>
{{/partial}}

{{#partial "contenido"}}
<div class="container">
	<div class="text-center"> 
		<h1>Analisis con metodologías</h1>
		<h2><i>Deje que tomen las decisiones por ud!</i></h2>
		<br>
		<h4>Elija la metodología que desea aplicar</h4>
	</div>
	<!-- Formulario para seleccionar metodologia -->
	<div class="col-md-6 mx-auto">
		<form action="/analisis/metodologias" method="get">
			<div class="form-group">
			<!-- combo box -->
				<select name="metodologia" class="form-control" required>
				<option value="" disabled selected hidden>Por favor elija una...</option>
				{{#each metodologias}}
				  <option value = "{{id}}">{{nombre}}</option>
				{{/each}}
				</select>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-secondary btn-lg">Analizar</button>
			</div>
		</form>
	</div>
	<br>
</div>
{{/partial}}
{{>layout.hbs}}
