main {
	padding: 30px;
}

/* Sombra para efecto 3D */
#carga {
	padding: 20px;
	background: #808080;
	background: linear-gradient(#808080, #cccccc);
	border-radius: 3px;
	box-shadow: 0px 4px #808080, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.combos, .keys, .screen {overflow: hidden;}

/* Display */
.screen {
	height: 40px;
	padding: 5px;
	background: #666666;
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

	/* Fuente */
	font: 12px Tahoma, sans-serif;
	line-height: 30px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
}

/* Selectores */
.combos {
	padding: 20px;
}

.combos select.cuentas, select.indicadores {
	height: 30px;
	margin: 0 0 10px 0;
	background: #666666;
	border-radius: 3px;
	
	/* Fuente */
	font: 18px Tahoma, sans-serif;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.keys {
	width: 400px;
	padding: 20px 0px;
	margin: auto;
	font: bold 18px Tahoma, sans-serif;
}

/* Teclas */
.keys span {
	float: left;
	position: relative;
	cursor: pointer;	
	width: 70px;
	height: 40px;	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	margin: 0 10px 15px 0;
	color: #888;
	line-height: 40px;
	text-align: center;
	
	/* previene la selección del texto dentro de las teclas */
	user-select: none;
	
	/* suavizado usando transiciones de CSS3 */
	transition: all 0.2s ease;
}

/* Estilos para los diferentes tipos de teclas (operadores/cargar/limpiar) */
.keys span.operator {
	background: #666666;
	color: #cccccc;
}

.keys span.clear {
	width: 150px;
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

.keys span.clear.back {
	width: 70px;
}

.keys span.eval {
	width: 390px;
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

/* Efectos */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.keys span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulado de efecto de apretado, remuevo la sombra y bajo el botón */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.keys span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}
