{{#partial "extra_estilos"}}
<link rel="stylesheet" href="/css/carga-indicador.css"/>
{{/partial}}
{{#partial "contenido"}}
{{#if cargaFallida}}
	<p class="alert alert-danger">La formula ingresada es incorrecta. <a href="/indicadores/carga" class="alert-link">Intentelo nuevamente...</a></p>
{{else}}
	{{#if cargaExitosa}}
	<p class="alert alert-success">Indicador cargado satisfactoriamente. <a href="/indicadores" class="alert-link">Continuar...</a></p>
	{{else}}
	<p id="mensaje" class="alert alert-warning" style="display:none"></p>
	<div id="carga">
	<form name="cargaForm" action="/indicadores/carga" method="POST">
	<input class="form-control" type="text" name="nombreIndicador" placeholder="Nombre del nuevo Indicador a cargar" autofocus required/>
	<input type="hidden" name="formula"/>
	</form>
	<br/>
	<!-- display -->
	<div class="screen"></div>
	<div class="combos">
		<!-- Cuentas e Indicadores -->
		<select class="cuentas">
			<option disabled selected>Seleccione una cuenta...</option>
		{{#each cuentas}}
			<option>{{nombre}}</option>
		{{/each}}
		</select>		
		<select class="indicadores">
			<option disabled selected>Seleccione un indicador...</option>
		{{#each indicadores}}
			<option>{{nombre}}</option>
		{{/each}}
		</select>
	</div>
	<div class="keys">
		<!-- Constantes y Operadores -->
		<span>1</span>
		<span>2</span>
		<span>3</span>
		<span class="operator">+</span>
		<span class="operator">-</span>
		<span>4</span>
		<span>5</span>
		<span>6</span>
		<span class="operator">x</span>
		<span class="operator">/</span>
		<span>7</span>
		<span>8</span>
		<span>9</span>
		<span class="operator">(</span>
		<span class="operator">)</span>
		<span>0</span>
		<span>.</span>
		<span class="clear back">&lt;</span>
		<span class="clear">Limpiar</span>
		<span class="eval">Cargar</span>
	</div>
	</div>

	{{/if}}
{{/if}}
{{/partial}}
{{#partial "javascript"}}
<script src="/js/carga-indicador.js" type="text/javascript"></script>
{{/partial}}
{{>layout.hbs}}
