<html>
<head>
	<title>¿Donde Invierto? V1.0</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="bootstrap-4.0.0-beta-dist/css/bootstrap.min.css" type="text/css"/>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	{{#block "head"}}{{/block}}
</head>
<body>
	{{#block "content"}}{{/block}}
	<!-- Fondo animado -->
	<div id="particles-js"></div>
	<script type="text/javascript" src="js/particles.min.js"></script>
</body>
</html>