<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"> ¿Dónde invierto? </a></h2>
                </div>
                <div class="col-sm-3">
                    <h5>Principales</h5>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/analisis/metodologias">Análisis Metodologías</a></li>
                        <li><a href="/analisis/indicadores">Análisis Indicadores</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Nosotros</h5>
                    <ul>
                        <li><a href="http://www.facebook.com/ayelenguimarey">Ayelen Guimarey</a></li>
                        <li><a href="http://www.facebook.com/Caroo.94">Carolina González</a></li>
                        <li><a href="http://www.facebook.com/damian.cohen.9">Damian Cohen</a></li>
                        <li><a href="http://www.facebook.com/geronimo.corti.31">Gerónimo Corti</a></li>
                        <li><a href="http://www.facebook.com/juanpablo.bulbulian">Juan Bulbulian</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="/login">Sign in</a></li>
                        <li><a href="/signup">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
