<footer>
	¿Dónde Invierto? V1.0
	<h4> Desarrolladores </h4>
	<ul>
		<li> Ayelen Guimarey </li>
		<li> Carolina González </li>
		<li> Damián Cohen </li>
		<li> Gerónimo Corti </li>
		<li> Juan Pablo Bulbulian </li>
	</ul>
	DDS - 2017 - JM - Grupo 12
	{{#block "footer"}}{{/block}}
</footer>
