<header>
    <nav>
        <ul id="menu">
            {{#if usuario.nombre }}
                <li>
                 <!-- se puede cambiar por links <a> con class btn para no tener que hacer forms -->
				    <form method="POST" action="/logout">
				        <button id="login">Log Out</button>
				    </form>
                </li>
            {{else}}
                <li>
				    <form method="GET" action="/login">
				        <button id="login">Log In</button>
				    </form>
                </li>
            {{/if}}
        </ul>
    </nav>
	{{#block "additional_header"}}{{/block}}
</header>
