<<<<<<< HEAD
{{#partial "estilos"}}

{{/partial}}

{{#partial "contenido" }}
<div class="container">
	<h1>¿Dónde Invierto? v1.0</h1>
	<ul>
		<li><a href="/indicador/carga"> Carga Indicador </a></li>
	</ul>
</div>
{{/partial}}
{{> layout.hbs}}
=======
{{#partial "estilos"}}
	<link rel="stylesheet" type="text/css" href="css/home.css">
{{/partial}}

{{#partial "contenido" }}
	<div class="container">
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
	</div>
{{/partial}}
{{> layout.hbs}}
>>>>>>> branch 'master' of https://github.com/dds-utn/2017-jm-group-12.git
