{{#partial "head"}}
	<link rel="stylesheet" href="css/login.css" type="text/css"/>
{{/partial}}
{{#partial "content" }}
	<div class="container">
		<div id="login-box">
			<div class="logo">
				<img src="images/login.jpg" class="mw-100"/>
				<h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
			</div>
			<div class="controls">
				<form action="/login" method="GET">
				<input type="text" name="nombre" placeholder="Nombre de Usuario" class="form-control" />
				<input type="password" name="pass" placeholder="Contraseña" class="form-control" />
				<button class="btn btn-default btn-block btn-custom">Login</button>
				</form>
			</div>
		</div>
	</div>
{{/partial}}
{{> base.hbs}}