<!-- esto no funciona porque layout redefine el partial "estilos" 
{{#partial "estilos"}}
	<link rel="stylesheet" type="text/css" href="../css/home.css">
{{/partial}} 
corrijo poniendo otro nombre -->
{{#partial "extra_estilos"}}
	<link rel="stylesheet" type="text/css" href="../css/home.css">
{{/partial}} 
<!-- (igual home.css no existe mas asi que tampoco va esto) -->

{{#partial "contenido" }}
	<div class="container">
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>hola perro</p>
			</div>
			<div class="col-6">
				<p>hola perro</p>
			</div>
		</div>
	</div>
{{/partial}}
{{> layout.hbs}}
