{{#partial "estilos"}}
	<link rel="stylesheet" type="text/css" href="css/home.css">
{{/partial}}

{{#partial "contenido" }}
	<div class="row">
		hola
	</div>
	<div class="row">
		hola
	</div>
	<div class="row">
		hola
	</div>
	<div class="row">
		hola
	</div>
{{/partial}}
{{> layout.hbs}}
