{{#partial "extra_estilos"}}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
{{/partial}} 
<!-- (igual home.css no existe mas asi que tampoco va) -->

{{#partial "contenido" }}
		<section class="seccion">
			<div class = "container">
			<div class="row">
				<div class="col">
					<img src="https://lh3.googleusercontent.com/gBgWjNSUpH2z7za6HG9mVthY8e-RP6vtmyGPkzh49E3jVc5BfbFCF2vWwZoRWbKKQMgRTPcRPLw0sS7nRma1kA=s0" width= "350" height="350" alt="">
				</div>
				<div class="col texto">
					<h2>¿Dónde me conviene invertir?</h2>
					<p>Con nuestra plataforma, podrá crear metodologías personalizadas, aplicando filtros y criterios de ordenamiento, que le permite determinar las empresas en las que conviene invertir</p>
					<a href="" title="">Ver +</a>
				</div>
			</div>
			</div>
		</section>
		<section class="seccion bg-light">
			<div class="container">
			<div class="row">
				<div class="col texto">
					<h2>Personalización de indicadores</h2>
					<p>Podrá crear indicadores personalizados, que le permitira tener control sobre las decisiones de inversión, utilizando inteligentemente su criterio.</p>
					<a href="" title="">Ver +</a>
				</div>
				<div class="col">
					<img src="http://www.soportequipux.com/images/instalaciones-redes-servidores-NAS.png" width="350" height="350" alt="">
				</div>
			</div>				
			</div>
		</section>
		<section class="seccion">
			<div class= "container">
			<div class="row">
				<div class="col">
					<img src="http://sapsi.org/wp-content/uploads/2013/12/Quality-Audit11.png" width="350" height="350" alt="">
				</div>
				<div class="col texto">
					<h2>Información de empresas </h2>
					<p>Nos encargamos de actualizar diariamente la información financiera de cada empresa del mercado, brindandole un completo soporte online, que podrá consulta en todo momento, las 24 horas.</p>
					<a href="" title="">Ver +</a>
				</div>
			</div>
			</div>
		</section>
		<section class="seccion bg-light">
			<div class= "container">
			<div class="row">
				<div class="col texto">
					<h2>Análisis por indicadores</h2>
					<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
					<a href="" title="">Ver +</a>
				</div>
				<div class="col">
					<img src="http://www.inversioninmobiliaria.biz/wp-content/uploads/2012/04/drawing_up_arrow_pc_1600_clr.png" width="350" height="350" alt="">
				</div>
				</div>
				</div>
		</section>
{{/partial}}
{{>layoutNoLoggeado.hbs}}
