{{#partial "extra_estilos"}}
	<link rel="stylesheet" type="text/css" href="/css/homeLog.css">
{{/partial}} 
<!-- (igual home.css no existe mas asi que tampoco va) -->

{{#partial "contenido" }}
	<div class="fondo">
		<div class ="relativo">										
			<h2>¡¡Bienvenido {{nombre}}!!</h2>
			<a class="btn btn-primary" href="/empresas" title="">Empezar ya</a>
		</div>
	</div>
{{/partial}}
{{>layout.hbs}}