{{#partial "estilos"}}

{{/partial}}

{{#partial "contenido" }}
	<div class="container">
		<h1>¿Dónde Invierto? v1.0</h1>
		<ul>
			<li><a href="./analisis"> Análisis </a></li>
		</ul>
	</div>
{{/partial}}
{{> layout.hbs}}
