<!-- esto no funciona porque layout redefine el partial "estilos" 
{{#partial "estilos"}}
	<link rel="stylesheet" type="text/css" href="../css/home.css">
{{/partial}} 
corrijo poniendo otro nombre -->
{{#partial "extra_estilos"}}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
{{/partial}} 
<!-- (igual home.css no existe mas asi que tampoco va) -->

{{#partial "contenido" }}
		<section class="seccion smoke-bg container">
			<div class="row">
				<div class="col-6">
					<p>Posible imagen</p>
				</div>
				<div class="col-6">
					<h2>¿Dónde me conviene invertir?</h2>
					<p>Con nuestra plataforma, podrá crear metodologías personalizadas, aplicando filtros y criterios de ordenamiento, que le permite determinar las empresas en las que conviene invertir</p>
					<a href="" title="">Ver +</a>
				</div>
			</div>
		</section>
		<section class="seccion estilo2 container">
			<div class="row">
				<div class="col-6">
					<h2>Personalización de indicadores</h2>
					<p>Podrá crear indicadores personalizados, que le permitira tener control sobre las decisiones de inversión, utilizando inteligentemente su criterio.</p>
				</div>
				<div class="col-6">
					<p>Posible imagen</p>
				</div>
			</div>
		</section>
		<section class="seccion smoke-bg container">
			<div class="row">
				<div class="col-6">
					<p>Posible imagen</p>
				</div>
				<div class="col-6">
					<h2>Información de empresas</h2>
					<p>Nos encargamos de actualizar diariamente la información financiera de cada empresa del mercado, brindandole un completo soporte online, que podrá consulta en todo momento, las 24 horas.</p>
				</div>
			</div>
		</section>
		<section class="seccion estilo2 container">
			<div class="row">
				<div class="col-6">
					<h2>Análisis por indicadores</h2>
					<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
				</div>
				<div class="col-6">
					<p>hola perro</p>
				</div>
				</div>
		</section>
{{/partial}}
{{> layout.hbs}}
