{{#partial "additional_header" }}
Usuario {{usuario.nombre}} con contraseña {{usuario.pass}}
{{/partial}}
{{#partial "additional_main" }}
	<div>
		<h1>¿Dónde Invierto? v1.0</h1>
		<ul>
			<li><a href="./analisis"> Análisis </a></li>
		</ul>
	</div>
{{/partial}}
{{> base.hbs}}
