{{#partial "extra_estilos"}}
	<link rel="stylesheet" type="text/css" href="/css/homeLog.css">
{{/partial}} 
<!-- (igual home.css no existe mas asi que tampoco va) -->

{{#partial "contenido" }}
	<section class="fondo">
		<div class="">
			<h2>¡¡Bienvenido {{nombre}}!!</h2>
			<a href="/empresas" title="">Empezar ya</a>
		</div>
	</section>
{{/partial}}
{{>layout.hbs}}