{{#partial "estilos"}}
		<link rel="stylesheet" href="/css/layout.css" type="text/css">
		{{#block "extra_estilos"}}{{/block}}
{{/partial}}

{{#partial "cuerpo"}}

<header>
    <nav class="navbar navbar-dark fixed-top bg-dark navbar-expand-lg">
    	<a class="navbar-brand" href="/home" title="">¿Dónde invierto?</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<div class="col-8 navbar-nav"></div>
			<ul class="col-4 navbar-nav justify-content-end">
				<li class="nav-item"><a class="nav-link text-white" href="/login" title="">Sign in</a></li>
				<li class="nav-item"><a class="nav-link btn btn-outline-secondary text-white" href="/signup" title="">Sign up</a></li>
			</ul>
		</div>
	</nav>
</header>
<main>
{{#block "contenido"}}{{/block}}
</main>
{{>footer.hbs}}
{{/partial}}
{{>base.hbs}}
