{{#partial "estilos"}}
		<link rel="stylesheet" href="/css/footer.css" type="text/css">
		{{#block "extra_estilos"}}{{/block}}
{{/partial}}

{{#partial "cuerpo"}}
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand">
			<ul class="col-8 navbar-nav">
				<li class="nav-item"><a class="nav-link navbar-brand text-white" href="/home" title="">¿Dónde invierto?</a></li>
				<li class="nav-item"><a class="nav-link" href="/empresas" title="">Empresas</a></li>
				<li class="nav-item"><a class="nav-link" href="/indicadores" title="">Indicadores</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" title="" id="navbarDropdownMenuLink" data-toggle="dropdown">Análisis</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/analisis/indicadores">Indicadores</a>
						<a class="dropdown-item" href="/analisis/metodologias">Metodologías</a>
					</div>
				</li>
			</ul>
			<ul class="col-4 navbar-nav justify-content-end">
				<li class="nav-item"><a class="nav-link btn btn-outline-secondary" href="/logout" title="">Sign out</a></li>
			</ul>
	</nav>
</header>
<main>
{{#block "contenido"}}{{/block}}
</main>
{{>footer.hbs}}
{{/partial}}
{{>base.hbs}}