{{#partial "head"}}
	<link rel="stylesheet" href="css/login.css" type="text/css"/>
{{/partial}}
{{#partial "content" }}
	<div class="container">
		<div id="login-box">
			<div class="logo">
				<h1 class="logo-caption">¿Dónde Invierto?</h1>
				<br/>
				<img src="img/login.jpg" class="mw-25 img-fluid rounded-circle mx-auto"/>
				<br/>
				<br/>
				<h2 class="logo-caption"><span class="tweak">L</span>ogin</h2>
			</div>
			<div class="controls">
				<form action="/" method="POST">
				<input type="text" name="nombre" placeholder="Nombre de Usuario" class="form-control" />
				<input type="password" name="pass" placeholder="Contraseña" class="form-control" />
				<button class="btn btn-default btn-block btn-custom">Login</button>
				</form>
			</div>
			<div>
				{{#if autenticado = false}}
			    	<p class="alert alert-warning">Usuario o Contraseña Incorrecta!</p>
			    {{/if}}
			</div>
		</div>
	</div>
	<!-- Fondo animado -->
	<div id="particles-js"></div>
	<script type="text/javascript" src="js/particles.min.js"></script>
{{/partial}}
{{> base.hbs}}