{{#partial "estilos"}}
	<link rel="stylesheet" href="../css/login.css"/>
{{/partial}}

{{#partial "cuerpo" }}
	<div class="container">
		<div id="login-box">
			<div class="logo">
				<h1 class="logo-caption">¿Dónde Invierto?</h1>
				<br/>
				<img src="img/login.jpg" class="mw-25 img-fluid rounded-circle mx-auto"/>
				<br/>
				<br/>
				<h2 class="logo-caption"><span class="tweak">L</span>ogin</h2>
			</div>
			<div class="controls">
				<form action="/login" method="POST">
				<input class="form-control" type="text" name="nombre" placeholder="Nombre de Usuario" required/>
				<input class="form-control" type="password" name="pass" placeholder="Contraseña" required/>
				<button class="btn btn-default btn-block btn-custom">Login</button>
				</form>
			</div>
			{{#if autentificacionFallida}}
			<div>
				<p class="alert alert-warning">Usuario o Contraseña Incorrecta!</p>
			</div>
			{{/if}}
		</div>
	</div>
	<!-- Fondo animado -->
	<div id="particles-js"></div>
	<script src="../js/particles.min.js" type="text/javascript"></script>
{{/partial}}
{{>base.hbs}}
